/* TODO to styling this correctly you should add class to html template like `product-card` */
mat-card.product-card {
    padding: 1px;
    width: 280px; 
}

mat-list-item {
    padding: 1px;
    margin: 10px;
}