<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Color & count list
    </mat-panel-title>
    <mat-panel-description>
      Here you can choose your set of colors
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list *ngFor="let itemColorCount of productColorCountList">
      <mat-list-item> 
        <mat-card>
          
            <app-product-color [itemColorCount] = "itemColorCount" (totalEvListItem)="itemEventHandler($event)"></app-product-color>
          
        </mat-card>
      </mat-list-item>
  </mat-list>
</mat-expansion-panel>

